<div class="container p-4" style="height: 89%;">
    <div class="container mt-5">
        <div class="row border p-4 mt-3 mb-5 bg-dark text-light">
            <div class="projects">
                <h2>My Projects</h2>
                <div class="project">
                    <h3>Project Name</h3>
                    <p>Project Description</p>
                </div>
            </div>
        </div>
        <div class="row border p-4 mt-3 mb-5 bg-dark text-light">
            <div class="projects">
                <h2>My Projects</h2>
                <div class="project">
                    <h3>Project Name</h3>
                    <p>Project Description</p>
                </div>
            </div>
        </div>
        <div class="row border p-4 mt-3 mb-5 bg-dark text-light">
            <div class="projects">
                <h2>My Projects</h2>
                <div class="project">
                    <h3>Project Name</h3>
                    <p>Project Description</p>
                </div>
            </div>
        </div>
    </div>
</div>
