<div class="container p-4" style="height: 89%;">
    <div class="container mt-5">
        <div class="row border p-4 mb-5 bg-dark text-light">
            <div class="row align-items-start">
                <div class="col-3 image">
                    <img src=""/>
                </div>
                <div class="col-9 description">
                    <div class="project">
                        <h3>Project Name: Student Enrollment System</h3>
                        <h5>Project Description: Designed to streamline the process of 
                            enrolling students in an educational institution. This system 
                            aims to automate various administrative tasks such as student 
                            registration, course selection, fee payment, and generation 
                            of enrolment reports. By using this system, educational 
                            institutions can efficiently manage student data and provide 
                            a user-friendly interface for both administrators and students.</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border p-4 mt-3 mb-5 bg-dark text-light">
            <div class="row align-items-start">
                <div class="col-3 image">
                    <img src=""/>
                </div>
                <div class="col-9 description">
                    <div class="project">
                        <h3>Project Name: Automotive Repair Management System</h3>
                        <h5>Project Description: Designed to streamline the 
                            operations of automotive repair shops. This system 
                            provides a comprehensive platform for managing 
                            appointments, inventory, repair orders, billing, and 
                            customer relationships. By automating these processes, 
                            repair shops can enhance efficiency, improve customer 
                            satisfaction, and ensure accurate record-keeping.</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border p-4 mt-3 mb-5 bg-dark text-light">
            <div class="row align-items-start">
                <div class="col-3 image">
                    <img src=""/>
                </div>
                <div class="col-9 description">
                    <div class="project">
                        <h3>Project Name: License Management System</h3>
                        <h5>Project Description: Designed to help organizations 
                            manage software licenses efficiently. This system 
                            provides a centralized platform for tracking, 
                            allocating, and renewing software licenses. By automating 
                            the license management process, organizations can ensure 
                            compliance, reduce costs, and optimize the use of 
                            software resources</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
