<div class="main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Thato</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data="bs-targe">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>
    
    <footer class="bg-light footer">
        <div class="text-center p-3">
            Copyrights - Thato Chitja
        </div>
    </footer>
</div>